<button type="button" class="btn btn-primary addBtn" (click)="openModalWithComponent()">Add User</button>
<table class="table-responsive table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let user of users" >
    <td>
      <a routerLink="/posts-todos/{{user.id}}">{{user.id}}</a>
    </td>
    <td>{{user.name}}</td>
    <td><button class="btn btn-default" (click)="openEditModal(user)">Edit</button></td>
    <td><button class="btn btn-danger">Delete</button></td>
  </tr>
</table>
